In [ ]:
import numpy as np
np.set_printoptions(threshold=50)
from datascience import *

## Sort

In [ ]:
# This table can be found online: https://www.statcrunch.com/app/index.php?dataid=1843341
nba = Table.read_table('nba_salaries.csv')
nba
#PF: Power Forward
#C:  Center
#PG: Point Guard
#SG: Shooting Guard 
#SF: Small Forward
#

In [ ]:
nba.show(3)

In [ ]:
#calculate total amount of money paid to all players








sum(nba.column(3))

In [ ]:
nba.column(3).sum()

In [ ]:
#Who was paid the most?









max(nba.column(3))

In [ ]:
#But what is the person's name?

nba.sort('PLAYER').show(5)

In [ ]:
nba.sort?

In [ ]:
nba.sort(3, descending=True)

In [ ]:
#sidenote: looks like Small Forward (SF) is a lucrative position

bestpaid = nba.sort(3, descending=True).column('PLAYER').item(0)
bestpaid

In [ ]:
#to found out which Center player made the most, sort twice

nba.sort(3, descending=True).sort("POSITION")

In [ ]:
bestpaidcenter = nba.sort(3, descending=True).sort("POSITION").column(0).item(0)
bestpaidcenter

In [ ]:
nba.sort('POSITION', distinct=True)

## Discussion Question

In [ ]:
nba.sort(3, descending=True).sort(1, distinct=True)

In [ ]:
from IPython.display import Image
Image("q7.png", width=600)

## Lists

In [ ]:
from IPython.display import Image
Image("list.png", width=600)

In [ ]:
make_array(2, 3.0)
help(make_array)

In [ ]:
make_array(2, 3.0).item(0)

In [ ]:
make_array(2, 'three')

In [ ]:
make_array(2, 'three').item(0)

In [ ]:
#what happened there?

[2, 'three']

In [ ]:
type([2, 'three'])

In [ ]:
row = ['Rookie', 'SG', 'Memphis Grizzlies', 0.02]
nba.with_row(row).sort(3)

## Take

In [ ]:
from IPython.display import Image
Image("take.png", width=600)

In [ ]:
nba.take(0)

In [ ]:
nba.take([0, 1, 2])

In [ ]:
#Create a table of only the top three best paid players.






nba.sort(3, descending=True).take([0, 1, 2])

#How is this different from show(3)?

In [ ]:
rich = nba.sort(3, descending=True).take([0, 1, 2])
rich.sort(2)

In [ ]:
nba

In [ ]:
#What if I want to take a middle slice of the table?
#Use ranges.

nba.take(np.arange(8, 15))

## Where

In [ ]:
from IPython.display import Image
Image("where.png", width=600)

In [ ]:
salary = 3
nba.sort(salary)

In [ ]:
nba.where(salary, are.above(10))

In [ ]:
nba.where(salary, are.above(10)).num_rows

In [ ]:
nba.where(salary, are.above(10)).sort(salary)

In [ ]:
nba.where('PLAYER', are.equal_to('Stephen Curry'))

In [ ]:
nba.where('PLAYER', 'Stephen Curry')

In [ ]:
nba.where('TEAM', 'Golden State Warriors')

In [ ]:
nba.where('TEAM', are.containing('Los Angeles')).sort(salary)

In [ ]:
nba.where(salary, are.between(3, 4))

back to slides for conditions and discussion questions

## Discussion Questions

In [ ]:
nba.where(1,'SF')

In [ ]:
nba.where(1,'SF').column(3)

In [ ]:
nba.where(1,'SF').column(3).sum()

In [ ]:
nba.where(1,'SF').column(3).sum()/nba.where(1,'SF').num_rows

In [ ]:
#explore: is SF the most lucrative position?

make_array(nba.where(1, 'SF').column(3).sum()/nba.where(1, 'SF').num_rows,
nba.where(1, 'PF').column(3).sum()/nba.where(1, 'PF').num_rows,
nba.where(1, 'SG').column(3).sum()/nba.where(1, 'SG').num_rows,
nba.where(1, 'PG').column(3).sum()/nba.where(1, 'PG').num_rows,
nba.where(1, 'C').column(3).sum()/nba.where(1, 'C').num_rows)

#later: more efficient way to do this

In [ ]:
nba.where(1, 'PG').where(3, are.above(15)).column(0)

In [ ]:
nba.with_row(['Jazz Bear','Mascot','Utah Jazz',100])
nba.where('PLAYER', are.containing('Bear'))

## Population & Age

In [ ]:
# As of Jan 2017, this census file is online here: 
#data = 'http://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/asrh/nc-est2015-agesex-res.csv'

# A copy can be accessed here in case census.gov moves the file:
# data = 'http://inferentialthinking.com/notebooks/nc-est2015-agesex-res.csv'

data = "census.csv"

full_census_table = Table.read_table(data)
full_census_table

In [ ]:
partial = full_census_table.select('SEX', 'AGE', 'POPESTIMATE2010', 'POPESTIMATE2015')
partial

In [ ]:
us_pop = partial.relabeled(2, '2010').relabeled(3, '2015')
us_pop

In [ ]:
us_pop.column('2015') - us_pop.column('2010')

In [ ]:
change = us_pop.column('2015') - us_pop.column('2010')
census = us_pop.with_columns(
    'Change', change,
    'Percent Change', change/us_pop.column('2010')
)
census.set_format('Percent Change', PercentFormatter)

In [ ]:
census.sort('Change', descending=True)

In [ ]:
2010-68 # Bombing of Pearl Harbor was 12/7/1941

In [ ]:
2015-68 # Bombing of Nagasaki was 8/9/1945

## Discussion Question

In [ ]:
from IPython.display import Image
Image("q8.png", width=600)

In [ ]:
(321418820/309346863) ** (1/5) - 1

In [ ]:
#explore some more

everyone = census.sort('Change', descending=True).row(0)
everyone

In [ ]:
type(everyone)

In [ ]:
(everyone.item(3)/everyone.item(2)) ** (1/5) - 1

In [ ]:
five_year_rate = everyone.item(5)
(five_year_rate + 1) ** (1/5) - 1

## Population & Gender

In [ ]:
us_pop.where('AGE', are.above(97)).show()

In [ ]:
us_pop_2015 = us_pop.drop('2010')
all_ages = us_pop_2015.where('AGE', 999)
all_ages

In [ ]:
all_ages.column('2015').item(0)

In [ ]:
all_ages.with_column(
    'Proportion', all_ages.column('2015')/all_ages.column('2015').item(0)
).set_format('Proportion', PercentFormatter)

In [ ]:
infants = us_pop_2015.where('AGE', are.equal_to(0))
infants

In [ ]:
infants.with_column(
    'Proportion', infants.column('2015')/infants.column('2015').item(0)
).set_format('Proportion', PercentFormatter)

In [ ]:
females_all_rows = us_pop_2015.where('SEX', are.equal_to(2))
females = females_all_rows.where('AGE', are.not_equal_to(999))
females

In [ ]:
males_all_rows = us_pop_2015.where('SEX', are.equal_to(1))
males = males_all_rows.where('AGE', are.not_equal_to(999))
males

In [ ]:
males.column('AGE')

In [ ]:
females.column('AGE')

In [ ]:
ratios = Table().with_columns(
    'AGE', females.column('AGE'),
    '2015 F:M RATIO', females.column('2015')/males.column('2015')
)
ratios.show()

In [ ]:
ratios.where('AGE', are.above(75)).show()

In [ ]:
ratios.plot('AGE')